.container {
  composes: container from '../styles/page.css';
}

.banner {
  composes: banner from '../styles/page.css';
  min-height: 40vh !important;
}

@media (max-width: 850px) {
  .banner {
    min-height: calc(100vh - var(--header-height)) !important;
  }
}

.content {
  composes: content from '../styles/page.css';
}
