.container {
  composes: container from '../../styles/page.css';
}

.banner {
  composes: banner from '../../styles/page.css';
  min-height: 40vh !important;
}

.banner h1 {
  color: var(--color-theme) !important;
  font-size: 1.75em !important;
  margin: 0.5em auto !important;
}

.banner h2,
.banner h3 {
  font-size: 1em !important;
  font-weight: 300 !important;
}

.banner h3 {
  margin-top: 1em !important;
}

@media (max-width: 850px) {
  .banner h1 {
    font-size: 1.25em !important;
  }
}

.content {
  composes: content from '../../styles/page.css';
  min-height: 60vh !important;
}
