.container {
  composes: container from '../../styles/page-index.css';
}

.banner {
  composes: banner from '../../styles/page-index.css';
}

.content {
  composes: content from '../../styles/page-index.css';
}
