.container {
  composes: container from 'chora/styles/main.css';
}

.banner {
  composes: banner from 'chora/styles/main.css';
  min-height: 25vh !important;
}

.banner div {
  margin-top: var(--header-height) !important;
}

.content {
  composes: content from 'chora/styles/main.css';
  min-height: 60vh !important;
}

.content ul {
  list-style: none !important;
}

.content a {
  color: var(--color-text) !important;
  font-weight: 300 !important;
}

.content h2 {
  color: var(--color-theme) !important;
  margin: 0.5em 0 !important;
}

.content h3,
.content h4 {
  font-size: 1em !important;
  font-weight: 300 !important;
}
